<?xml version="1.0" encoding="UTF-8"?>
<server description="InventarioWebAppPrn335">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <!-- Features necesarias para configurar JMS (wasJms) en OpenLiberty -->
        <feature>messagingServer-3.0</feature>
        <feature>messagingClient-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />

    <library id="postgres-library">
        <file name="${server.config.dir}/postgresql-42.7.7.jar" />
    </library>
    <jdbcDriver id="postgres-driver" libraryRef="postgres-library" />

    <dataSource id="DefaultDataSource"
                jndiName="jdbc/pgdb"
                jdbcDriverRef="postgres-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">

        <properties serverName="localhost"
                    databaseName="inventario_prn335"
                    portNumber="5432"
                    user="postgres"
                    password="postgresmy"/>
    </dataSource>


    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin123"/>
        <user name="dev" password="dev1234"/>
    </basicRegistry>

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <messagingEngine>
        <bus name="defaultBus" />
        <queue id="QUEUE1" />
    </messagingEngine>

    <jmsQueueConnectionFactory
            id="JmsFactory"
            jndiName="jms/JmsFactory">
        <properties.wasJms
                busName="defaultBus"
        />
    </jmsQueueConnectionFactory>


    <jmsQueue
            id="JmsQueue"
            jndiName="jms/JmsQueue">
        <properties.wasJms
                queueName="QUEUE1"
                busName="defaultBus"
        />
    </jmsQueue>


    <jmsActivationSpec
            id="InventarioWebAppPrn335/ReceptorKardex"
            destinationRef="jms/JmsQueue"
            connectionFactoryRef="jms/JmsFactory"
            destinationType="jakarta.jms.Queue">
        <properties.wasJms maxConcurrency="200"/>
    </jmsActivationSpec>

</server>
